/* Button
 * Defaults:
 *   height: 27px;
 *   line-height: 27px;
 *   min-width: 54px;
 *   padding: 0 8px;
 *   margin-right: 16px;
 */
.tk3N6e-e
{
  height: 17px !important;
  line-height: 17px !important;
  min-width: 34px !important;
  padding: 0 5px !important;
  margin-right: 8px !important;
}

/* Camera image for uplaod a photo button
 *
 * Defaults:
 *  width: 30px;
 *  height: 23px;
 */
.a-g-I-e-q 
{
  width: 20px !important;
  height: 16px !important;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Comment text area
 * Defaults:
 *   padding: 6px 6px 0 6px;
 *   min-height: 3.9em;
 */
.v-J-n-m
{
  padding: 2px 2px 0 2px !important;
  min-height: 3em !important;
}

/* Popup to display who has +1'd or shared something.
 * Defaults:
 *   padding: 16px;
 */
.tk3N6e-Ca
{
  padding: 5px !important;
}

/* Container for a list of people in a +N popup.
 * Defaults:
 *   margin-top: 10px;
 */
.a-f-ha-oa-qb
{
  margin-top: 2px !important;
}

