/*
 * Makes the +1 / Comment / Share button an inline-block, mad leave a little sapce to the right
 *
 * Default:
 *  display: block;
 *  margin-right: 0;
 */
.a-f-i-bg
{
  display: inline-block;
  margin-right: 10px;
}

/*
 * Makes the list of people who +1'd the post also inline block, so it can
 * appear level with the button when there are few of them.
 *
 * Defualt:
 *  display: block;
 *  border-bottom: 1px solid #E3E3E3;
 *  border-top: 1px solid #E3E3E3;
 */
.a-f-i-Hg-Uf
{
  display: inline-block;
  border: none !important;
}

