/* 
 * Header bar with the four main buttons
 * Default:
 *
 *  width: 60px;
 *  padding-top: 13px;
 */
.a-fa-z
{
  height: 45px !important;
  padding-top: 5px !important;
}

/*
 * Header bar container
 *
 * Default:
 *  height: 60px;
 */
.a-fa-T
{
  height: auto !important;
}
