body
{
  font-family: Calibri, Helvetica, Arial, sans-serif !important;
}

/* Applied to all posts.
 * Defaults:
 *   font-size: 13px;
 *   line-height: 1.4;
 *   padding: 16px 21px;
 */
.a-b-f-i
{
  font-size: 11px !important;
  line-height: 1.3 !important;
  padding: 8px !important;
}

/* This appears to be for small blocks inside posts, such as the comment and
 * share buttons. By default, this has 12px of bottom padding :/
 */
.a-f-i-bg
{
  padding-bottom: 3px !important;
}

/* Holds the text of a post.
 * Defaults:
 *   padding-bottom: 12px;
 *   padding-top: 3px;
 */
.a-f-i-p-qb
{
  padding-bottom: 3px !important;
  padding-top: 1px !important;
}

/* Holds the group containing the "+N" and "N shares - ..." elements
 * Defaults:
 *   padding: 5px 7px;
 */
.a-f-i-Hg-Uf
{
  padding: 2px !important;
}

/* Holds a "+N" or a "N shares" element
 * Defaults:
 *   padding: 2px 0;
 */
.a-f-i-Uf, .a-f-i-ha, .a-f-i-Hg
{
  padding: 1px 0 !important;
}

/* .a-f-i-W: Holds a comment
 * .a-f-i-WXPuNd: N older comment(s) button
 * Defaults:
 *   padding: 7px;
 */
.a-f-i-W, .a-f-i-WXPuNd
{
  padding: 3px !important;
}

/* Holds a hangout post's content
 * Defaults:
 *   margin-top: 10px;
 *   padding-bottom: 10px;
 */
.a-f-i-ie-p
{
  margin-top: 2px !important;
  padding-bottom: 2px !important;
}

/* Holds the list of names under a hangout post
 * Defaults:
 *   margin-top: 5px;
 */
.a-f-i-ie-je-oa
{
  margin-top: 0px !important;
}

/* Holds a link in a post
 * Defaults:
 *   margin-bottom: 7px;
 *   margin-top: 5px;
 */
.ea-S-A
{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* Holds the link and favicon in a link post
 * Defaults:
 *   margin-bottom: 4px;
 *   line-height: 1.4
 */
.ea-S-R
{
  margin-bottom: 0px !important;
  line-height: 1.3 !important;
}

/* Holds the text under a video post
 * Defaults:
 *   margin-bottom: 3px;
 *   margin-top: 5px;
 *   line-height: 1.4
 */
.ea-S-Wd-Pj, .ea-S-Bb-jn .ea-S-Bb-qa
{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  line-height: 1.3 !important;
}

/* Holds the text at the top of a share post
 * Defaults:
 *   padding-bottom: 12px
 */
.a-f-i-u-ki
{
  padding-bottom: 3px !important;
}
