body
{
	font-size: 10pt !important;
	font-family: Calibri, Helvetica, Arial, sans-serif !important;
}

/* Applied to all posts.
 * Defaults:
 *   font-size: 13px;
 *   line-height: 1.4;
 *   padding: 16px 21px;
 */
.a-b-f-i
{
  font-size: 12px !important;
  line-height: 1.3 !important;
  padding: 8px !important;
}

/* This appears to be for small blocks inside posts, such as the comment and
 * share buttons. By default, this has 12px of bottom padding :/
 */
.a-f-i-bg
{
  padding-bottom: 3px !important;
}

/* Holds the text of a post.
 * Defaults:
 *   padding-bottom: 12px;
 *   padding-top: 3px;
 */
.a-f-i-p-qb
{
  padding-bottom: 3px !important;
  padding-top: 1px !important;
}

/* .a-f-i-W: Holds a comment
 * .a-f-i-WXPuNd: N older comment(s) button
 * Defaults:
 *   padding: 7px;
 */
.a-f-i-W, .a-f-i-WXPuNd
{
  padding: 3px !important;
}

