body
{
	font-size: 10pt !important;
	font-family: Calibri, Helvetica, Arial, sans-serif !important;
}

/* .a-b-f-i is applied to all posts. */
.a-b-f-i
{
	padding: 2px !important;
	margin: 2px 5px !important;
}

/*
 This appears to be for small blocks inside posts, such as the comment and
 share buttons. By default, this has 12px of bottom padding :/
 */
.a-f-i-bg
{
	padding-bottom: 2px !important;
}
