.T-I { height: 20px !important; line-height: 20px !important; padding: 0 5px !important; }
.ZC { top: 1px !important; }
.T-axO { padding: 0 14px 0 4px !important; }
.ZE .J-JN-M-I-JG, .aaa .J-JN-M-I-JG { top: 9px !important; }
.aak { height: 0px !important; }
.hI, .ig, .iv, .hF { padding-top: 3px !important; }
.hI, .ig, .hF { padding-bottom: 3px !important; }
.aju { padding-top: 3px !important; }
.T-KT { height: 16px !important; }
.xY { border-bottom-color: rgb(200, 200, 200) !important; }

