.tk3N6e-I { height: 20px !important; line-height: 20px !important; padding: 0 3px !important; }
.WWmJkf { top: 1px !important; }
.tk3N6e-O1htCb { padding: 0 14px 0 4px !important; }
.cgKgIe .J-JN-M-I-JG, .EgaXhf .J-JN-M-I-JG { top: 9px !important; }
.Z0jEC { height: 0px !important; }
.hI, .ig, .iv, .hF { padding-top: 3px !important; }
.hI, .ig, .hF { padding-bottom: 3px !important; }
.xY { border-bottom-color: rgb(200, 200, 200) !important; }

