/* Button
 * Defaults:
 *   height: 27px;
 *   line-height: 27px;
 *   min-width: 54px;
 *   padding: 0 8px;
 *   margin-right: 16px;
 */
.j-e
{
  height: 17px !important;
  line-height: 17px !important;
  min-width: 34px !important;
  padding: 0 5px !important;
  margin-right: 8px !important;
}

/* Camera image for uplaod a photo button
 *
 * Defaults:
 *  width: 30px;
 *  height: 23px;
 */
.a-g-u-e-o
{
  width: 20px !important;
  height: 16px !important;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Comment text area
 * Defaults:
 *   padding: 6px 6px 0 6px;
 *   min-height: 3.9em;
 */
.t-n-h-i
{
  padding: 2px 2px 0 2px !important;
  min-height: 3em !important;
}

/* Popup to display who has +1'd or shared something.
 * Defaults:
 *   padding: 16px;
 */
.j-B
{
  padding: 5px !important;
}

/* Container for a list of people in a +N popup.
 * Defaults:
 *   margin-top: 10px;
 */
.Gy
{
  margin-top: 2px !important;
}

/* Container for a share popup
 * Defaults:
 *   padding: 35px 40px;
 */
.pa-fa
{
  padding: 10px 10px !important;
}

/* Container for a share popup (another class)
 * Defaults:
 *   width: 532px;
 */
.h-yd-pa
{
  width: auto !important;
}

/* Border element at the bottom of a share popup.
 * Defaults:
 *   padding-top: 25px;
 */
.pa-fa-ob
{
  padding-top: 0px !important;
}

/* Close button on Invite popup.
 * Defaults:
 *   top: -16px;
 *   right: -20px;
 */
.pa-fa-Q-Kb
{
  top: 0px !important;
  right: 0px !important;
}

