
/* Navigation links
 * Defaults:
 *   height: 26px;
 *   line-height: 26px;
 */
.a-eb-j
{
  height: 18px !important;
  line-height: 18px !important;
}

/* Separator between Welcome and Stream
 * Defaults:
 *   margin: 24px 10px;
 */
.a-eb-Ld
{
  margin: 10px 10px !important;
}

/* Close button next to Sparks
 * Defaults:
 *   top: 9px;
 */
.a-eb-ZX
{
  top: 5px !important;
}


