/*
 * None of the CSS classes in this file have styles by default,
 * so they cannot be added dynamically by javascript.
 */


/* Holds the date and buttons under a comment */
.PD
{
  min-height: 15px;
}

