/* 
 * Header bar with the four main buttons
 * Default:
 *
 *  height: 60px;
 *  padding: 13px 0 0 10px;
 */
.a-fa-B
{
  height: 45px !important;
  padding: 5px 0 0 10px !important;
}

/*
 * Header bar container
 *
 * Default:
 *  height: 60px;
 */
.a-fa-M
{
  height: auto !important;
}
