
/*
 * Header container for the stream page
 * 
 * Defaults:
 *   margin: 16p 21px 0 21px
 */
.zw
{
  display: inline-block;
  margin: 0 !important;
  padding: 5px 0 0 6px;
}

/*
 * A class applied to the 'what's new' container when it is closed
 * Not used in CSS by default
 */
.h-la
{
  display: inline-block;
  width: 500px !important;
  margin: 5px !important;
}

/*
 * A class applied to the 'what's new' container when it is activated
 * Not used in CSS by default
 */
.h-Fe
{
  display: block;
  width: 532px !important;
  margin: 5px 21px !important;
}

/*
 * Contianer for all posts
 * Defaults: 
 *   padding-top: 15px;
 */
.fC
{
  padding-top: 0 !important;
}
