/* Main HTML body
 * Defaults:
 *   font: normal 13px arial,sans-serif;
 */
body
{
  font-family: verdana, Arial, sans-serif !important;
  font-size: 11px !important;
}

/* Applied to all posts.
 * Defaults:
 *   font-size: 13px;
 *   line-height: 1.4;
 *   padding: 16px 21px;
 */
.zj
{
  font-size: 11px !important;
  line-height: 1.3 !important;
  padding: 8px !important;
}

/* This appears to be for small blocks inside posts, such as the comment and
 * share buttons. By default, this has 12px of bottom padding :/
 */
.ll
{
  padding-bottom: 3px !important;
}

/*
 * Post data container
 *
 * Defaults:
 *   margin-right: 44px;
 */
.Dq
{
  margin-right: 0 !important;
}

/* Holds the text of a post.
 * Defaults:
 *   padding-bottom: 12px;
 *   padding-top: 3px;
 */
.co
{
  padding-bottom: 3px !important;
  padding-top: 1px !important;
  white-space: normal;
}

/*
 * Holds the drop down menu at the top right of posts
 *
 * Defaults:
 *   margin-right: -44px;
 */
.Ls
{
  margin-right: 0 !important;
}

/* Holds "Shared by X" sections in incoming
 * Defaults:
 *   margin-right: -44px;
 *   margin-bottom: 15px;
 *   padding: 10px 15px;
 */
.mv
{
  margin-right: 0 !important;
  margin-bottom: 5px !important;
  padding: 3px 10px 5px 10px !important;
}

/* Holds the "Add to circles" and "Mute this post" section in incoming
 * Defaults:
 *   padding-top: 2px;
 */
.Gx
{
  padding-top: 0px !important;
}

/* Holds "Mute this post" in incoming
 * Defaults:
 *   vertical-align: top;
 */
.Ix
{
  vertical-align: middle !important;
}

/*
 * Holds the content of a post, and the +1, comment, share buttons and statistics.
 */
.ix
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Holds the group containing the "+N" and "N shares - ..." elements
 * Defaults:
 *   padding: 5px 7px;
 */
.Ax
{
  padding: 2px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Holds a "+N" or a "N shares" element
 * Defaults:
 *   padding: 2px 0;
 */
.vx, .jv, .kv
{
  padding: 1px 0 !important;
  display: inline-block;
  margin-right: 5px;
}

/* Holds a comment
 * Defaults:
 *   padding: 7px;
 */
.eg
{
  padding: 3px !important;
}

/* Holds the N comment(s) button
 * Defaults:
 *   padding: 8px;
 */
.fx
{
  padding: 3px !important;
}

/* Holds a hangout post's content
 * Defaults:
 *   margin-top: 10px;
 *   padding-bottom: 10px;
 */
.YB
{
  margin-top: 2px !important;
  padding-bottom: 2px !important;
}

/* Holds a comment aside from the profile pic (ie is the one with the margin)
 * This forces it to check that it's also the same height as the profile pic
 * otherwise, they can end up hanging down into the next comment :/
 */
.gv
{
  min-height: 32px;
}

/* Holds the date and buttons under a comment.
 */
.UB
{
  min-height: 15px;
}

/* Holds the list of names under a hangout post
 * Defaults:
 *   margin-top: 5px;
 */
.Mr
{
  margin-top: 0px !important;
}

/* Holds a link in a post
 * Defaults:
 *   margin-bottom: 7px;
 *   margin-top: 5px;
 */
.J-B-z
{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* Holds the link and favicon in a link post
 * Defaults:
 *   margin-bottom: 4px;
 *   line-height: 1.4;
 *   font-size: 13px;
 */
.J-B-Y
{
  margin-bottom: 0px !important;
  line-height: 1.3 !important;
  font-size: 11px !important;
}

/* Holds the text under a video post
 * Defaults:
 *   margin-bottom: 3px;
 *   margin-top: 5px;
 *   line-height: 1.4
 */
.J-B-Bf-wg, .J-B-Oa-Pk .J-B-Oa-ra
{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  line-height: 1.3 !important;
}

/* Holds the text at the top of a share post
 * Defaults:
 *   padding-bottom: 12px;
 */
.Bx
{
  padding-bottom: 3px !important;
}

