/* The top bar
 */
.a-rg-M
{
  position: fixed !important;
  width: 100% !important;
}

/* The page header container.
 * Contains Google+ logo, nav buttons, find people.
 * Defaults:
 *   border-top: 1px solid #D2D2D2;
 */
.a-fa-M
{
  border-top: 31px solid #D2D2D2 !important;
}

